@import '../../../index.scss';

.body {
    height: 100vh;
    // width: 100%;
    // background-color: green;
    padding: 20px;
    // background: linear-gradient(47deg, rgba(253,30,74,0.45) 0%, rgba(80,103,235,0.5) 80%);
}

.questionBlock{
    float: left;
    width: 80%;
    margin-left: 3%;
    margin-top: 2%;
    height: auto;
}

.addButton{
    width: 25px;
    padding: 1%;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    background-color: $Primary_LightBlue;
    text-align: center;
    float: left;
    color: white;
    margin-right: 2%;
    cursor: pointer;
    @include Shadow();
}

.addButton:hover{
    background-color: $Primary_DarkBlue;
}

.heading{
    padding-top: 0.5%;
    margin-bottom: 3%;
}