@import '../../../index.scss';

.body {
    height: 100vh;
    width: 100% !important;
    padding: 20px;
}

.addButton{
    width: 25px;
    padding: 1%;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    background-color: $Primary_LightBlue;
    text-align: center;
    float: left;
    color: white;
    margin-right: 2%;
    cursor: pointer;
    @include Shadow();
}

.addButton:hover{
    background-color: $Primary_DarkBlue;
}

.heading{
    padding-top: 0.5%;
    margin-bottom: 3%;
}