@import "../../../index.scss";

.body {
  height: 100vh;
  width: 98% !important;
  padding-left: 2%;
}

.addButton {
  width: 25px;
  height: 25px;
  padding: 2%;
  font-size: larger;
  font-weight: bolder;
  border-radius: 10px;
  background-color: $Primary_DarkBlue;
  text-align: center;
  color: white;
  cursor: pointer;
  @include Shadow();
}

.addButton:hover {
  background-color: $Primary_LightBlue;
}

.heading {
  width: 80%;
  //   background-color: yellow;
  padding-top: 7%;
}

.headingTwo {
  width: 80%;
  //   background-color: yellow;
  padding-top: 2%;
}

.Dropdown {
  width: 30%;
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

select {
  background-color: white !important;
}

.addNFilter {
  width: 87%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.Add {
  height: 100px;
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
