@import '../../../index.scss';

.body {
    width: 100%;
    height: 100vh;
    // max content
    position: relative;
    background: linear-gradient(47deg, rgba(253,30,74,0.45) 0%, rgba(80,103,235,0.5) 80%);
}

.questionBlock{
    float: left;
    width: 83%;
    height: 91.7vh;
}