.testPage {
  padding: 25px !important;
  padding-top: 0 !important;
}

.CodeArea {
  width: 250px;
}

.White-Box {
  background-color: white;
  height: 15vh;
}

.ProfileContain {
  width: 100px;
  height: 100px;
}

.FormImages {
  display: flex;
}
