@import "../../../index.scss";

.QuestionCard {
  width: 85%;
  height: 190px;
  border-radius: 20px;
  display: flex;
  background-color: white;
  @include Shadow();
  cursor: pointer;
  margin-bottom: 2%;
}

.QuestionCard:hover {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid $Primary_LightBlue;
  transition: transform 300ms;
}

.Left {
  width: 90%;
  padding: 2%;
  height: auto;
}

.Right {
  width: 3%;
  height: auto;
  padding: 1%;
}

.BottomVote {
  width: 65%;
  height: 90px;
  background-color: $Semantic_Red;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.TopVote {
  width: 65%;
  height: 90px;
  margin-top: 5px;
  background-color: $Semantic_Green;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.profileImg {
  width: 20px;
  height: 20px;
  background-image: url("../../../Icons/Profile.svg");
  float: left;
  @include backgroundImages;
}

.profileImg img {
  width: 100%;
  border-radius: 50%;
}

.username {
  margin: 0.1%;
  margin-left: 1%;
  float: left;
  color: $Primary_DarkBlue !important;
}

.heading {
  margin-bottom: 0.2%;
}

.tag {
  float: left;
  margin-right: 1%;
  width: fit-content;
  border-radius: 10px;
  font-size: smaller;
  padding: 0.5% 2%;
  color: $Primary_DarkBlue;
  z-index: 100;
  @include ModalColor;
}

// .tag {
//   float: left;
//   margin-right: 1%;
//   width: fit-content;
//   border-radius: 10px;
//   font-size: smaller;
//   padding: 0.5% 2%;
//   background-color: $Primary_LightGray;
// }

.questionDescription {
  width: 100%;
  height: 32%;
  white-space: nowrap;
  overflow: hidden;
  color: $Primary_DarkBlue !important;
  text-overflow: ellipsis;
  //   background-color: red;
}
