@import '../../../index.scss';


.ProfQ {
    width: 100%;
    height: 120px;
    background-color: rgb(240, 239, 239);
    border-radius: 20px;
    position: relative;
    margin-top: 10px;
    @include Shadow();

}

.Qtitle {
    margin-left: 20px;
    padding-top: 5px;
}

.TagSection {
    width: 50%;
    height: 40px;
    position: absolute;
    top: 70px;
    left: 25px;
}

.Qscore {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 10px;
}

.Score {
    text-align: center;
    margin-top: 10px;
}