@import '../../../index.scss';


.ProfQ {
    width: 98%;
    height: 100px;
    background-color: rgb(240, 239, 239);
    border-radius: 20px;
    position: relative;
    margin-top: 10px;
    // @include Shadow();
    cursor: pointer;
}

.ProfQ:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid $Primary_LightBlue;
    transition: transform 300ms;

}

.Qtitle {
    margin-left: 20px;
    padding-top: 5px;
    font-size: 30px;
}

.TagSection {
    width: 50%;
    height: 40px;
    position: absolute;
    top: 55px;
    left: 10px;
    
}

.Qscore {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-color: #5067EB;
    border-radius: 10px;
}

.Score {
    text-align: center;
    margin-top: 1px;
}