@import "./index.scss";

img{
  width: 33%;
  position: absolute;
  height: 160px;
  margin-left: 15px;
  border-radius: 20px;
  padding: 20px;
  background-image: url("../src/Img/Authpage-01.png");
  background-position: center;
  background-repeat: no-repeat;

}
