//Styling
@import './Styling/variables.scss';
@import './Styling/mixins.scss';
@import './Styling/presetStyling.scss';

//Pages
@import './components/Pages/TestPage/TestPage.scss';


body {
  margin: 0;
  height: max-content;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: linear-gradient(47deg, rgba(253,30,74,0.45) 0%, rgba(80,103,235,0.5) 80%);
}