@import '../../../index.scss';

.Modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200vh;
    height: 100vh;
    backdrop-filter: blur(4px);
    @include Shadow();
    z-index: 800;
}

.SelectModal{
    width: 450px;
    height: 68vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow-y: auto;
    padding: 15px;
    padding-top: 25px;
    @include Shadow();
    z-index: 900;
}

.Container{
    height: 40vh;
    background-color: #f2f2f2;
    border-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    @include InputShadow();
    padding: 5px;
}