@import "../../../index.scss";



.dropdownContainer {
  margin: 0;
  margin-bottom: 4%;
  width: 97.2%;
  height: 35px;
  border-radius: 20px;
  padding-left: 20px;
  border: none;
  background-color: #f9f9f9;
  @include Shadow();
  cursor: pointer;
  }

  .dropdownMenu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border-radius: 5px;
    overflow: auto;
    max-height: 150px;
    z-index: 99;
  }
  
  .dropdownItem {
    padding: 5px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #9fc3f870;
  }
  
  .dropdown-item.selected {
    background-color: #0d6efd;
  }
  
  .dropdownTags {
    float: left;
    margin-right: 2%;
    border-radius: 10px;
    font-size: smaller;
    vertical-align:top;
    padding: 0.5% 2%;
    color: $Primary_DarkBlue;
    font-weight: 600;
    z-index: 100;
    @include ModalColor;
  }
  
  .dropdownTagItem {
    padding: 2px 4px 2px;
    border-radius: 2px;
    display: flex;
    align-items: center;
  }
  
  .dropdownTagclose {
    display: flex;
    align-items: center;
  }
  
  .searchBox {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
  }

  .dropdownSelectedValue{
    margin: 0;
    border-radius: 20px;
    padding-right: 70%;
   
  }
 
  select {
    margin: 0;
    margin-bottom: 4%;
    width: 98.5%;
    height: 35px;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    @include Shadow();
    cursor: pointer;
  }