@import '../../../index.scss';

.Login {
    width: 99%;
    height: 35px;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    background-color: #f9f9f9;
    @include InputShadow()
}

.InputWidth{
    width: 80%;
    height: 40px;
    // display: flex;
    // background-color: red;
}

.Search{
    width: 50%;
    height: 35px;
    background-color: $Primary_White;  
    border-radius: 20px;
    padding-left: 20px;
    background-color: #f2f2f2;
    @include InputShadow();
    border: none;
    float: left;
}

.Icon{
    width: 3%;
    margin-top: 6px;
    position: relative;
    right: 5vh;
    float: left;
    height: 35px;
    background-image: url('../../../Icons/search.svg');
    @include backgroundImages;
    background-size: 60%;
}

.hide{
    display: none;
}