@import '../../../index.scss';

.Login {
    width: 100%;
    height: 35px;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    background-color: #f9f9f9;
    @include InputShadow()
}

.InputWidth{
    width: 90%;
    height: 40px;
    // display: flex;
}

.Search{
    width: 100%;
    height: 35px;
    background-color: $Primary_White;  
    border-radius: 20px;
    padding-left: 20px;
    border: none;
}

.Icon{
    width: 10%;
    position: relative;
    right: 7%;
    // top: px;
    height: 40px;
    background-image: url('../../../Icons/search.svg');
    @include backgroundImages;
    background-size: 25%;
}

.hide{
    display: none;
}