@import '../../../index.scss';

.Login {
    width: 85vh;
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
    border: 1px solid black;
}

.InputWidth{
    width: 80%;
    height: 35px;
    display: flex;
}

.Search{
    width: 100%;
    height: 35px;
    background-color: $Primary_White;  
    border-radius: 20px;
    padding-left: 20px;
    border: 1px solid black;
}

.Icon{
    width: 10%;
    position: relative;
    right: 8%;
    // top: px;
    height: 40px;
    background-image: url('../../../Icons/search.svg');
    @include backgroundImages;
    background-size: 30%;
}

.hide{
    display: none;
}