@import "../../../index.scss";

.BackgroundBlur {
  width: 100%;
  margin-top: -20px;
  //   margin-left: -20px;
  height: 100vh;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.addAnswerCard {
  padding: 2%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 500;
  width: 32%;
  height: 50%;
  height: auto;
  border-radius: 20px;
  @include ModalColor;
}

.closeButton {
  width: 25px;
  padding: 1%;
  font-size: larger;
  font-weight: bolder;
  border-radius: 10px;
  background-color: $Primary_DarkBlue;
  text-align: center;
  float: right;
  color: white;
  cursor: pointer;
  @include Shadow();
}

.closeButton:hover {
  background-color: $Primary_LightBlue;
}

.textBox {
    margin-top: 2%;
    width: 69%;
    float: left;
    border-radius: 20px;
    height: 70px;
    margin-left: 3%;
    padding: 3%;
}
  
.codeBox {
    width: 94%;
    border-radius: 20px;
    height: 95px;
    margin-bottom: 5%;
    padding: 3%;
}