@import '../../../index.scss';

.body {
    width: 100%;
    height: 100vh;
    // max content
    position: relative;
    background: linear-gradient(47deg, #fd1e4a73 0%, #5067eb80 80%);
}

.questionBlock{
    float: left;
    width: 80%;
    margin-left: 3%;
    margin-top: 2%;
    height: auto;
}

.questionIntro{
    width: 100%;
}

.profileImg{
    width: 20px;
    height: 20px;
    background-image: url('../../../Icons/Profile.svg');
    float: left;
    @include backgroundImages
}

.username{
    margin: 0.1%;
    float: left;
}

.heading{
    margin-top: 0.1%;
    margin-bottom: 1%;
}

.questionDetails{
    width: 100%;
}

.questionImage{
    width: 25%;
    height: 25vh;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-right: 3%;
    float: left;
}

.questionDescription{
    width: 90%;
    margin-top: 2%;
}

.horisontalLine{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: -1%;
    width: 97%;
}