@import '../../../index.scss';


.topNav {
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
    @include Shadow();
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(16px);
    
}

.LOGO {
    margin: 4px;
    margin-left: -40px;
    width: 20%;
    height: 90%;
    position: absolute;
    background-image: url('../../../Img/Logo.svg');
    @include backgroundImages
}


.SearchBar {
    position: absolute;
    left: 25%;
    margin: 20px;
    width: 50%;  
}

.ProfileImage {
   margin: 15px;
    width: 50px;
    height: 50px;
    
    position: absolute;
    left: 95%;
    background-image: url(../../../Icons/Profile.svg);
    @include backgroundImages;

}
