@import "../../../index.scss";

// .body {
//     // height: max-content;
//     // max content
//     // background: linear-gradient(47deg, rgba(253,30,74,0.45) 0%, rgba(80,103,235,0.5) 80%);
// }

.LandingArea {
  padding: 10px;
  display: flex;
  //   background-color: white;
  color: #2b2b2b;
}

.Block {
  background-image: url("../../../Img/Male-3.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 18%;
  height: 30vh;
  margin-right: 15px;
  background-color: rgba(255, 255, 255, 1);
  @include Shadow();
  border-radius: 20px;
}

.LanContent {
  padding-right: 20px;
  padding: 15px;
  // float: left;
}

.Heading {
  padding: 15px;
}

.Row {
  height: 240px;
  // background-color: greenyellow;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}

.Container {
  width: 28%;
  margin-right: 20px;
  height: 160px;
  background-color: rgba(255, 255, 255, 1);
  //   background-color: #fd1e4b4c;
  @include Shadow();
  margin-left: 15px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.Container:hover {
  border: 3px solid $Primary_LightBlue;
  transition: transform 300ms;
}

.Container2 {
  width: 33%;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 15px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  background-image: url("../../../Img/Silver.png");
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
}

.Container2:hover {
  border: 3px solid $Primary_LightBlue;
  transition: transform 300ms;
}

.text {
  margin-bottom: 20px;
}

.ImageOne {
  background-image: url("../../../Img/HtmlLogo.png");
  width: 100%;
  height: 100px;
  background-position: center center;
  background-size: 25%;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}

.ImageTwo {
  background-image: url("../../../Img/JavaScript\ logo.png");
  width: 100%;
  height: 100px;
  background-position: center center;
  background-size: 25%;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}

.ImageThree {
  background-image: url("../../../Img/React-icon.png");
  width: 100%;
  height: 100px;
  background-position: center center;
  background-size: 25%;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}

.Line {
  background-color: $Semantic_Red;
}
