@import '../../../index.scss';

// .body {
//     // height: max-content;
//     // max content
//     // background: linear-gradient(47deg, rgba(253,30,74,0.45) 0%, rgba(80,103,235,0.5) 80%);
// }

.LandingArea{
    padding: 10px;
}

.Block{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
}

.LanContent   {
    padding-right: 20px;
    padding:15px;
    // float: left;
}

.Heading{
    padding: 15px;
}

.Row{
    width: 80%;
    height: 240px;
    // background-color: greenyellow;
    display: flex;
}

.Container{
    width: 33%;
    height: 160px;
    background-color: white;
    margin-left: 15px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.ImageOne{
    background-image: url('../../../Img/HtmlLogo.png');
    width: 100%;
    height: 100px;
    background-position: center center;
    background-size: 25%;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

.ImageTwo{
    background-image: url('../../../Img/JavaScript\ logo.png');
    width: 100%;
    height: 100px;
    background-position: center center;
    background-size: 25%;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

.ImageThree{
    background-image: url('../../../Img/React-icon.png');
    width: 100%;
    height: 100px;
    background-position: center center;
    background-size: 25%;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}