@import '../../../index.scss';


.MainTag {
    width: 100px;
    height: 25px;
    background-color: rgb(127, 125, 125);
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    margin-left: 10px;
    float: left;
}