@import "../../../index.scss";

// .BadgeBox {
//   float: left;
//   margin-right: 25px;
//   width: 100px;
//   height: max-content;
//   background-color: white;
//   @include Shadow();
//   border-radius: 20px;
//   text-align: center;
//   margin-bottom: 10px;
//   cursor: pointer;
// }

// .Badge {
//   margin: auto;
//   margin-top: 10px;
//   width: 70px;
//   height: 70px;
//   background-image: url("../../../Img/Silver.png");
//   @include backgroundImages;

// }

// .BoxOne {
//   float: left;
//   margin-right: 25px;
//   width: 100px;
//   height: max-content;
//   background-color: white;
//   @include Shadow();
//   border-radius: 20px;
//   text-align: center;
//   margin-bottom: 10px;
//   cursor: pointer;
// }

// .BoxTwo {
//   float: left;
//   margin-right: 25px;
//   width: 100px;
//   height: max-content;
//   background-color: rgb(236, 12, 12);
//   @include Shadow();
//   border-radius: 20px;
//   text-align: center;
//   margin-bottom: 10px;
//   cursor: pointer;
// }

// .badgeBox3 {
//   float: left;
//   margin-right: 25px;
//   width: 100px;
//   height: max-content;
//   background-color: rgb(4, 20, 238);
//   @include Shadow();
//   border-radius: 20px;
//   text-align: center;
//   margin-bottom: 10px;
//   cursor: pointer;
// }

// .BadgeOne {
//   margin: auto;
//   margin-top: 10px;
//   width: 70px;
//   height: 70px;
//   background-image: url("../../../Img/Bronze.png");
//   @include backgroundImages;
// }

// .BadgeTwo {
//   margin: auto;
//   margin-top: 10px;
//   width: 70px;
//   height: 70px;
//   background-image: url("../../../Img/Silver.png");
//   @include backgroundImages;
// }

// .BadgeThree {
//   margin: auto;
//   margin-top: 10px;
//   width: 70px;
//   height: 70px;
//   background-image: url("../../../Img/Gold.png");
//   @include backgroundImages;
// }

// .BadgeBox {
//   float: left;
//   margin-right: 25px;
//   width: 150px;
//   height: max-content;
//   background-color: white;
//   @include Shadow();
//   border-radius: 20px;
//   text-align: center;
//   margin-bottom: 10px;
// }

// .Badge {
//   margin: auto;
//   margin-top: 10px;
//   width: 70px;
//   height: 70px;
//   background-image: url("../../../Img/Silver.png");
//   @include backgroundImages;
// }

// Badge One
.Box {
  float: left;
  margin-right: 25px;
  width: 100px;
  // height: max-content;
  height: 90px;
  background-color: white;
  @include Shadow();
  border-radius: 20px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  // position: relative;
}

.Box:hover {
  height: 150px;
  transition: ease-in-out, 0.1s;
}

.Popup {
  // position: absolute;
  // top: 250px;
  z-index: 500;
  margin-top: 10px;
}

// Badge Two
.BoxTwo {
  float: left;
  margin-right: 25px;
  width: 100px;
  height: max-content;
  background-color: white;
  @include Shadow();
  border-radius: 20px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.BoxThree {
  float: left;
  margin-right: 25px;
  width: 100px;
  height: max-content;
  background-color: white;
  @include Shadow();
  border-radius: 20px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.badge {
  margin: auto;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-image: url("../../../Img/Badges/ScoreOne.png");
  @include backgroundImages;
}

.badgeTwo {
  margin: auto;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-image: url("../../../Img/Badges/ScoreTwo.png");
  @include backgroundImages;
}

.badgeThree {
  margin: auto;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-image: url("../../../Img/Badges/ScoreThree.png");
  @include backgroundImages;
}

.FirstQuestionBadge {
  margin: auto;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-image: url("../../../Img/Badges/AskedOne.png");
  @include backgroundImages;
}

.FiveQuestionBadge {
  margin: auto;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-image: url("../../../Img/Badges/AskedTwo.png");
  @include backgroundImages;
}

.TenQuestionBadge {
  margin: auto;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-image: url("../../../Img/Badges/AskedThree.png");
  @include backgroundImages;
}

.FiftyAskedBadge {
  margin: auto;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-image: url("../../../Img/Badges/AskedFour.png");
  @include backgroundImages;
}

.OneAnsweredBadge {
  margin: auto;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-image: url("../../../Img/Badges/AsweredOne.png");
  @include backgroundImages;
}

.FiveAnsweredBadge {
  margin: auto;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-image: url("../../../Img/Badges/AnsweredTwo.png");
  @include backgroundImages;
}

.TenAnsweredBadge {
  margin: auto;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-image: url("../../../Img/Badges/AnsweredThree.png");
  @include backgroundImages;
}

.FiftyAnsweredBadge {
  margin: auto;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-image: url("../../../Img/Badges/AnsweredFour.png");
  @include backgroundImages;
}
