@import '../../../index.scss';


.leftNav {
    width: 17%;
    height: 91.7vh;
    @include Shadow();
    float: left;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(16px);
}

.Home {
    width: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: absolute;
    top: 50px;
    left: 5%;
    border-radius: 20px;
    cursor: pointer;
}

.Home:hover{
    transition: ease-in-out 0.5s;
    @include Shadow();
    background-color: rgba(255, 255, 255, 0.5);
}

.Questions {
    width: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: absolute;
    top: 130px;
    left: 5%;
    border-radius: 20px;
    cursor: pointer;
}

.Questions:hover {
    transition: ease-in-out 0.5s;
    @include Shadow();
    background-color: rgba(255, 255, 255, 0.5);
}

.IconSpot {
    background-color: white;
    margin: 5px;
    margin-left: 10px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    @include Shadow();
    position: relative;
}

.Icon {
    position: absolute;
    width: 55%;
    height: 55%;
    left: 10px;
    top: 12px;
    background-image: url(../../../Icons/Home.svg);
    @include backgroundImages;
}

.Icon2 {
    position: absolute;
    width: 55%;
    height: 55%;
    left: 10px;
    top: 12px;
    background-image: url(../../../Icons/ChatBox.svg);
    @include backgroundImages;
}

.text {
    position: absolute;
    left: 25%;
    top: 30%;
}


.Topics {
    float: left;
    margin-top: 100%;
    margin-left: 10%;
    width: 80%;
    height: 30%;
    top: 35%;
    left: 10%;
}

.Logout {
    width: 200px;
    height: 50px;
    
    margin-top: 80vh;
    margin-left: 20%;
    padding-top: 5px;
    border-radius:15px;
}

.LogImg {
    width: 30%;
    height: 100%;
    float: left;
    margin-left: 20px;
    background-image: url(../../../Icons/LogOut.svg);
    @include backgroundImages
}

.LogoutText {
    font-size: 25px;
    margin-top: 5px;
}

.Logout:hover {
    transition: ease-in-out 0.5s;
    @include Shadow();
    background-color: rgba(255, 255, 255, 0.5);
}