@import '../../../index.scss';

.Bounds{
    width: 35vh;
    height: 100vh;
    float: left;
    // background-color: red;
}

.leftNav {
    // position: fixed;
    // top: 55px;
    padding-top: 20%;
    width: 35vh;
    height: 100vh;
    @include Shadow();
    // float: left;
    // z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(16px);
    border-bottom-right-radius: 20px;
}

.Home {
    width: 90%;
    padding-bottom: 2%;
    top: 100px;
    left: 5%;
    border-radius: 20px;
    cursor: pointer;
}

.Home:hover{
    transition: ease-in-out 0.5s;
    @include Shadow();
    background-color: rgba(255, 255, 255, 0.5);
}

.Questions {
    margin-top: 6%;
    width: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    top: 130px;
    left: 5%;
    border-radius: 20px;
    cursor: pointer;
}

.Questions:hover {
    transition: ease-in-out 0.5s;
    @include Shadow();
    background-color: rgba(255, 255, 255, 0.5);
}

.IconSpot1{
    
    background-color: white;
    margin: 5px;
    margin-left: 17%;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    @include Shadow();
    position: relative;
}

.IconSpot2{
    background-color: white;
    margin: 5px;
    margin-left: 17%;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    @include Shadow();
    position: relative;
}

.Icon {
    position: absolute;
    width: 55%;
    height: 55%;
    left: 10px;
    top: 12px;
    background-image: url(../../../Icons/Home.svg);
    @include backgroundImages;
}

.Icon2 {
    position: absolute;
    width: 55%;
    height: 55%;
    left: 10px;
    top: 12px;
    background-image: url(../../../Icons/ChatBox.svg);
    @include backgroundImages;
}

.homeText{
    position: absolute;
    left: 36%;
    top: 1.5%;
    margin-top: 20%;
}

.text {
    position: absolute;
    left: 35%;
    top: 9%;
    margin-top: 24%;
}


.Topics {
    position: absolute;
    float: left;
    margin-top: 60%;
    margin-left: 12%;
    width: 80%;
    height: 30%;
    top: 18%;
}

.Logout {
    width: 200px;
    height: 50px;
    margin-top: 55vh;
    margin-left: 20%;
    padding-top: 5px;
    border-radius:15px;
}

.LogImg {
    width: 30%;
    height: 100%;
    float: left;
    margin-left: 20px;
    background-image: url(../../../Icons/LogOut.svg);
    @include backgroundImages
}

.LogoutText {
    // font-size: 25px;
    margin-top: 9px;
}

.Logout:hover {
    transition: ease-in-out 0.5s;
    @include Shadow();
    background-color: rgba(255, 255, 255, 0.5);
}
