@import '../../../index.scss';


.leftNav {
    width: 17%;
    height: 1000px;
    // border-right: 1px solid black;
    @include Shadow();

    position: relative;
    z-index: 10000;
    background-color: rgb(227, 226, 226);

}

.Home {
    width: 90%;
    height: 70px;
    position: absolute;
    top: 50px;
    left: 5%;
    border-radius: 20px;
}

.Home:hover{
    transition: ease-in-out 0.5s;
    @include Shadow();

}

.Questions {
    width: 90%;
    height: 70px;
    position: absolute;
    top: 130px;
    left: 5%;
    border-radius: 20px;

}

.Questions:hover {
    transition: ease-in-out 0.5s;
    @include Shadow();
}

.IconSpot {
    background-color: white;
    margin: 5px;
    margin-left: 20px;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    @include Shadow();
    position: relative;
}

.Icon {
    position: absolute;
    width: 65%;
    height: 65%;
    left: 10px;
    top: 10px;
    background-image: url(../../../Icons/Home.svg);
    @include backgroundImages;
}

.Icon2 {
    position: absolute;
    width: 65%;
    height: 65%;
    left: 10px;
    top: 10px;
    background-image: url(../../../Icons/ChatBox.svg);
    @include backgroundImages;
}

.text {
    position: absolute;
    left: 30%;
    top: 25%;
}


.Topics {
    position: absolute;
    width: 80%;
    height: 30%;
    
    top: 35%;
    left: 10%;
    @include Shadow();
border-radius: 20px;
}

// .CheckBox {
//     width: 15px;
//     height: 15px;
//     float: left;
// }

// .CheckBox:hover {
//     background: red;
// }

// .label {
//     font-size: 15px;
// }
