@import "../../../index.scss";

.Bounds {
  width: 100%;
  height: 100vh;
  float: left;
  // background-color: red;
}

.leftNav {
  padding-top: 10%;
  width: 95%;
  height: 90vh;
  @include Shadow();
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  // backdrop-filter: blur(16px);
  border-bottom-right-radius: 20px;
  // border-right: 3px solid black;
}

.Home {
  background-color: #f1f1f1;
  width: 25vh;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.Home:hover {
  transition: ease-in-out 0.3s;
  @include Shadow();
  background-color: rgba(255, 255, 255, 0.5);
}

.Questions {
  background-color: #f1f1f1;
  margin-top: 10px;
  width: 25vh;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.Questions:hover {
  transition: ease-in-out 0.3s;
  @include Shadow();
  background-color: rgba(255, 255, 255, 0.5);
}

.IconSpot1 {
  background-color: white;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  margin-right: 10%;
  background-image: url(../../../Icons/Home.svg);
  @include backgroundImages;
  background-size: 60%;
  @include Shadow();
}

.IconSpot2 {
  background-color: white;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  margin-right: 10%;
  background-image: url(../../../Icons/ChatBox.svg);
  @include backgroundImages;
  background-size: 60%;
  @include Shadow();
}

.homeText {
  margin-top: 10%;
}

.text {
  margin-top: 10%;
}

.Topics {
  width: 25vh;
  // background-color: green;
  margin-top: 10vh;
}

.Logout {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 25vh;
  height: 50px;
  margin-top: 15vh;
  padding-top: 5px;
  border-radius: 15px;
  margin-bottom: 15%;
}

.LogImg {
  width: 20%;
  height: 100%;
  background-image: url(../../../Icons/LogOut.svg);
  @include backgroundImages;
  float: left;
  margin-right: 10%;
}

.LogoutText {
  float: left;
  margin-top: 9px;
}

.Logout:hover {
  transition: ease-in-out 0.3s;
  @include Shadow();
  background-color: #f1f1f1;
}
