@import '../../../index.scss';

.body {
    position: relative;
    background: linear-gradient(47deg, rgba(253,30,74,0.45) 0%, rgba(80,103,235,0.5) 80%);
    z-index: 1;
}


.BadgeSection {
    position: absolute;
    left: 21%;
    top: 10%;
    width: 50%;
    height: 400px;
    background-color: red;
}