@import '../../../index.scss';

.body {
    width: 100%;
    height: 100vh;
    // background: linear-gradient(47deg, rgba(253,30,74,0.45) 0%, rgba(80,103,235,0.5) 80%);
}


.BadgeSection {
    position: absolute;
    left: 19%;
    top: 10%;
    width: 50%;
    height: 400px;
}


.QuestionSection {
    position: absolute;
    left: 20%;
    top: 50%;
    width: 50%;
    height: 450px;
    
    
}

.DropDown {
    float: right;
    margin-top: -70px;
    margin-right: 80px;
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    
}

.ProfileSection {
    position: absolute;
    left: 75%;
    top: 15%;
    width: 20%;
    height: 800px;
    
}

// h1 {
//     margin-left: 25px;
//     margin-top: 15px;
// }