@mixin backgroundImages{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

//example use case
//long way
.BackgroundContainerThing{
    width: 1000px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

//short way
.BackgroundContainerThing{
    width: 1000px;
    height: 500px;
    background-image: url('https://www.google.com/logos/fnbx/animal_paws/cat_kp_dm.gif');
    @include backgroundImages;
}