@mixin backgroundImages{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

//example use case
//long way
.BackgroundContainerThing{
    width: 1000px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

//short way
.BackgroundContainerThing{
    width: 1000px;
    height: 500px;
    background-image: url('https://www.google.com/logos/fnbx/animal_paws/cat_kp_dm.gif');
    @include backgroundImages;
}

@mixin LogNReg{
    box-shadow:
    6.8px 6.8px 5.7px rgba(0, 0, 0, 0.017),
    18.8px 18.8px 15.7px rgba(0, 0, 0, 0.025),
    45.2px 45.2px 37.7px rgba(0, 0, 0, 0.033),
    150px 150px 125px rgba(0, 0, 0, 0.05);  
    padding: 2%;
    border-radius: 20px;
    position: absolute;
    top: 0 !important;
}