@mixin backgroundImages{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

//example use case
//long way
.BackgroundContainerThing{
    width: 1000px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

//short way
.BackgroundContainerThing{
    width: 1000px;
    height: 500px;
    background-image: url('https://www.google.com/logos/fnbx/animal_paws/cat_kp_dm.gif');
    @include backgroundImages;
}

@mixin LogNReg{
    padding: 2%;
    border-radius: 20px;
    position: fixed;
    position: fixed;
    top: 40%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: white;
}

@mixin Shadow{
    box-shadow:
    7px 7px 6px rgba(0, 0, 0, 0.04),
    18px 18px 15px rgba(0, 0, 0, 0.04),
    45px 45px 38px rgba(0, 0, 0, 0.040),
    150px 150px 125px rgba(0, 0, 0, 0.04);  
}



@mixin InputShadow{
    box-shadow:
    inset 3px 3px 0px rgba(0, 0, 0, 0.04),
    inset 5px 5px 0px rgba(0, 0, 0, 0.04),
}