@import '../../../index.scss';

.Login{
    left: 40%;
    margin: 0 auto;
    margin-top: 5%;
    width: max-content;
    height: 600px;
    border-radius: 20px;
    background-color: white;
    z-index: 2;
    transition: width 1s, left 1s, opacity 0.5s, box-shadow 0.2s;
    @include LogNReg()
  }
  
  .Signup{
    left: 40%;
    margin: 0 auto;
    margin-top: 5%;
    width: 450px;
    height: 600px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
    opacity: 100%;
    transition: width 1s, left 1s, opacity 0.5s;
    @include LogNReg()
  }
  
  .SignupBack{
    left: 10%;
    margin: 0 auto;
    margin-top: 5%;
    width: 450px;
    height: 600px;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
    opacity: 0%;  
    transition: width 1s, left 1s, z-index 1s, opacity 0.5s;
    @include LogNReg()
  }
  
  .LoginBack{
    left: 40%;
    margin: 0 auto;
    margin-top: 5%;
    width: max-content;
    height: 600px;
    border-radius: 20px;
    background-color: white;
    z-index: 2;
    opacity: 0%;
    transition: width 1s, left 1s, z-index 1s, opacity 0.5s, box-shadow 2s;
    @include LogNReg()
  }

.margin{
    margin: 0 auto !important;
}
