@import '../../../index.scss';

.LogNReg{
  height: 100vh;
  background: rgb(253,30,74);
  background: linear-gradient(47deg, rgba(253,30,74,0.45) 0%, rgba(80,103,235,0.5) 80%);
  text-align: center;
}

.Login{
  left: 50%;
  margin: 0 auto;
    margin-top: 5%;
    background-color: gold;
    width: 100vh;
    height: 60vh;
    border-radius: 20px;
    z-index: 2;
    transition: width 1s, left 1s, opacity 0.5s, box-shadow 0.2s;
    @include LogNReg();
    @include Shadow();
  }
  
  .Signup{
    left: 35%;
    margin: 0 auto;
    margin-top: 5%;
    width: 450px;
    height: 600px;
    z-index: 2;
    opacity: 100%;
    transition: width 1s, left 1s, opacity 0.5s;
    @include LogNReg();
    @include Shadow();
  }
  
  .SignupBack{
    left: 50%;
    margin: 0 auto;
    margin-top: 5%;
    width: 450px;
    height: 600px;
    z-index: 1;
    opacity: 0%;  
    transition: width 1s, left 1s, z-index 1s, opacity 0.5s;
    @include LogNReg();
  }
  
  .LoginBack{
    left: 50%;
    margin: 0 auto;
    margin-top: 5%;
    width: 600px;
    height: 60vh;
    border-radius: 20px;
    z-index: 1;
    opacity: 15%;
    transition: width 1s, left 1s, z-index 1s, opacity 0.5s, box-shadow 2s;
    @include LogNReg();
    box-shadow:
    7px 7px 6px rgba(0, 0, 0, 0.15),
    18px 18px 15px rgba(0, 0, 0, 0.1),
    45px 45px 38px rgba(0, 0, 0, 0.1),
    150px 150px 125px rgba(0, 0, 0, 0.1);  
  }

  
.LogLeft{
  width: 50%;
  height: 50vh;
  float: left;
  margin-top: 5vh;
}

.LogRight{
  width: 50%;
  float: left;
  height: 50vh;
  margin-top: 9vh;
}

.LogImage{
  width: 80%;
  height: 35vh;
  margin-left: 5vh;
  margin-bottom: 2vh;
  border-radius: 20px;
  background-image: url('../../../Img/LogInIllustration.jpg');
  @include backgroundImages;
}

.margin{
    margin: 0 auto;
    margin-bottom: 10px !important;
}

.Button{
  text-align: center;
}

.Spacing{
  margin-bottom: 10vh !important;
}

