@import '../../../index.scss';


.MainProfileSection {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    @include Shadow();
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
}

.EditButton {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    background-color: #5067EB;
    border-radius: 10px;
    

}

.EditPen {
    width: 70%;
    height: 70%;
    background-image: url(../../../Icons/Pen.svg);
    @include backgroundImages;
    margin: 9px;
}

.ProfileImage {
    margin-top: 30%;
    position: relative;
}

.ProfileImage {
    width: 140px;
    height: 140px;
    background-color: rgb(196, 194, 194);
    border-radius: 80px;
}

.ProfileDisplayBadge {
    position: absolute;
    right: 30%;
    top: 20%;
    width: 50px;
    height: 50px;
    background-color: #5067EB;
    
    border-radius: 80px;
}

.Username {
    margin-top: 2vh;
    text-align: center;
}

.MemberLength {
    
    text-align: center;

}

.Progress {
    width: 100%;
    height: 50px;
    text-align: center;
    
}

.TotalAsked {
    width: 80%;
    height: 16%;
    
    border: 0.5px solid black;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    text-align: center;
   
}

.Scores {
    margin-top: 10px;
}

.ScoreText {
    margin-top: -10px;
}

.TotalAnswered {
    width: 80%;
    height: 16%;
   
    border-bottom: 0.5px solid black;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    text-align: center;
}

.ReliabilityScore {
    width: 80%;
    height: 16%;
    border-bottom: 0px solid black;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    text-align: center;
    
}